button {
    background-color: rgb(155, 19, 19);
    color: white;
    width: 200px;
    padding: 10px 20px;
}

.red-background {
    background-color: red;
    color: white;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px 5px #948888;
}

.blue-background {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px 5px #948888;
}

.green-background {
    background-color: green;
    color: white;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px 5px #948888;
}